{% extends 'baseAdministrador.html' %}

{% load static %}

{% block css %}
{# Tus estilos específicos para esta vista #}
{% endblock %}

{% block title %}
Lista de Regiones
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2 style="text-align: center;">Listado de Regiones</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr class="table-active">
                <th scope="col">#</th>
                <th>Nombre</th>
            </tr>
            {% for r in regiones %}
            <tr class="table-default">
                <th scope="row">{{ r.id }}</th>
                <td>{{ r.nombre }}</td>
                <td>
                    <a href="{% url 'modificarRegion' r.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'eliminarRegion' r.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block js%}
{# Scripts específicos para esta vista #}
{% endblock %}