.product-img-table {
    max-width: 75px;
    height: auto;
  }

  /* Estilo de fondo desenfocado */
  .blur-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    backdrop-filter: blur(8px); /* Desenfoque del fondo */
  }
