{% extends 'baseCliente.html' %}

{% load humanize %}

{% block title %} Arriendos {% endblock %}
{% block css%} {% endblock%}
{% block content %}

<div class="container">
    <h1>ajsdjdas</h1>
    <table class="table table-striped table-hover table-responsive-sn">
        <tr>
            <th>horaInicio</th>
            <th>horaFin</th>
            <th>precioTotal</th>
        </tr>
        {% for r in arriendos %}
        <tr>
            <td>{{ r.horainicio | title }}</td>
            <td>{{ r.horafin | title }}</td>
            <td>${{ r.preciototal | intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}