{% extends 'baseCliente.html' %}
{% load static %}

{% load humanize %}

{% block title %} Arriendos {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/listarReserva.css' %}"/>
{% endblock %}
{% block content %}
{% if arriendos %}
  <div class="container">
      <h1 class="text-primary">Reservas</h1>
      <div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead>
                  <tr class="table-primary">
                      <th scope="col">Nro</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora Inicio</th>
                      <th scope="col">Hora Fin</th>
                      <th scope="col">Precio Total</th>
                  </tr>
              </thead>
              <tbody>
                  {% for r in arriendos %}
                  <tr>
                      <td>{{ r.id | intcomma }}</td>
                      <td>{{ r.horainicio|date:"d F Y" }}</td>
                      <td>{{ r.horainicio|time:"H:i" }}</td>
                      <td>{{ r.horafin|time:"H:i" }}</td>
                      <td>${{ r.preciototal | intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% else %}
<br><br><br><br><br>
<div class="empty-reservations">
  <h2>No existen reservas aún...</h2>
  <p>¿Quieres arrendar un estacionamiento?</p>
  <a href="{% url 'indexCliente' %}" class="btn btn-primary">¡Reserva ahora!</a>
</div>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if mensaje %}
{% endif %}
{% endblock %}