{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <!-- Cambiar nombre css -->
    <link rel="stylesheet" href="{% static 'CSS/crearCliente.css' %}">
</head>
<body>
    <nav>
        <li><a href="{% url 'panelCliente' %}">Administrar clientes</a></li>
        <li><a href="{% url 'crearCliente' %}">Crear cliente</a></li>
        <li><a href="{% url 'homeAdmin' %}">Menu administrador</a></li>
    </nav>
    <div class="container">
        <div class="formulario">
            <h1>Crear cliente</h1>
            <form action="{% url 'crearCliente' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <pre>Run:                                    <input type="number" name="runCliente"></pre>
                <pre>DV Run:                                 <input type="text" name="dv_runCliente"></pre>
                <pre>Primer Nombre:                          <input type="text" name="pnombreCliente"></pre>
                <pre>Segundo Nombre:                         <input type="text" name="snombreCliente"></pre>
                <pre>Apellido Paterno:                       <input type="text" name="appnombreCliente"></pre>
                <pre>Apellido Materno:                       <input type="text" name="apmnombreCliente"></pre>
                <pre>Correo Electronico:                     <input type="text" name="correoElectronicoCliente"></pre>
                <pre>Telefono:(+56)                          <input type="number" name="telefonoCliente"></pre>
                <pre>Nombre de usuario:                      <input type="text" name="nombreUsuarioCliente"></pre>
                <pre>Contraseña:                             <input type="text" name="contrasenaCliente"></pre>
                <pre>Confirmar Contraseña:                   <input type="text" name="confirmarContrasenaCliente"></pre>
                <pre>Direccion:                              <input type="text" name="direccionCliente"></pre>
                <pre>Numero tarjeta de Credito:              <input type="number" name="numeroTarjetaCliente"></pre>
                <pre>Fecha Vencimiento:                      <input type="date" name="fechaVencimientoTarjetaCliente"></pre>
                <pre>CVV:                                    <input type="number" name="cvvTarjetaCliente"></pre>
                <label for="idBancoCliente">Banco:</label>
                <select name="idBancoCliente">
                    {% for banco in bancos %}
                        <option value="{{ banco.id }}">{{ banco.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="idComuna">Comuna:</label>
                <select name="idComuna">
                    {% for comuna in comunas %}
                        <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                    {% endfor %}
                </select>
                <div id="alertaMensaje">
                    {% if mensajeCreacionCliente %}
                        {{mensajeCreacionCliente}}
                    {% endif %}
                </div>
                <div class="button-container">
                    <input type="submit" name="opcion" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>