{% extends 'baseCliente.html' %}
{% load static %}

{% block css %}
{# Tus estilos específicos para esta vista #}
{% endblock %}

{% block title %}
Vehiculos de {{request.user.username}}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2 style="text-align: center;">Tarjetas de credito de {{request.user.username}}</h2>
        <hr>
        {% if tarjetas %}
            <table class="table table-striped table-hover table-responsive-sm">
                <tr class="table-active">
                    <th>Nombre Titular</th>
                    <th>Numero Tarjeta</th>
                    <th>Fecha Vencimiento</th>
                    <th>Banco Asociado</th>
                    <th>Opciones</th>
                </tr>
                {% for tj in tarjetas %}
                <tr class="table-default">
                    <td>{{ tj.nombre_titular }}</td>
                    <td>{{ tj.numero }}</td>
                    <td>{{ tj.fechavencimiento }}</td>
                    <td>{{ tj.id_banco.nombre }}</td>
                    <td>
                        <a href="{% url 'editarTarjetacreditoCliente' tj.id %}" class="btn btn-info btn-sm">Editar</a>
                        <a href="#" onclick="eliminarTarjetacreditoCliente({{ tj.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <p>No tiene ningun tarjeta de credito guardada, quiere agregar uno?</p>
                <a href="{% url 'agregarTarjetacreditoCliente' %}" class="btn btn-primary">Agregar Tarjeta de Credito</a>
            </div>
        {% endif %}
    </div>
</div>
<br><br>
{% if tarjetas %}
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <p>¿Quiere agregar otra tarjeta?</p>
    <a href="{% url 'agregarTarjetacreditoCliente' %}" class="btn btn-primary">Agregar Tarjeta</a>
</div>
{% endif %}
{% endblock %}
{% block js%}
<script>
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: "btn btn-success",
            cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
    });

    function eliminarTarjetacreditoCliente(id) {
        swalWithBootstrapButtons.fire({
            title: "¿Estás seguro?",
            text: "No podrás revertir esto.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sí, Elíminalo",
            cancelButtonText: "No, Cancelar",
            reverseButtons: true,
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire({
                    title: "Eliminado",
                    text: "La tarjeta ha sido eliminado.",
                    icon: "success"
                }).then(() => {
                    window.location.href = "../eliminarTarjetacreditoCliente/" + id + "/";
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelado",
                    text: "Tu tarjeta está a salvo :)",
                    icon: "error"
                });
            }
        });
    }
</script>
{% endblock %}