{% extends 'baseDueno.html' %}

{% load static %}

{% load humanize %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/addEstacionamiento.css' %}">
{% endblock%}

{% block title %}
Añadir Estacionamiento
{% endblock %}

{% block content %}
<div class="container">


  <div class="mt-5">
    <a href="{% url 'indexDueno' %}" class="btn btn-primary">Regresar</a>
    <form method="post" id="miFormulario" onsubmit="enviarFormulario()" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row form-group mb-2">
        <div class="col-md-6">
          <label for="{{ estacionamiento_form.direccion.id_for_label }}">Dirección:</label>
          {{ estacionamiento_form.direccion }}
          {{ estacionamiento_form.direccion.errors }}
        </div>
        <div class="col-md-6">
          <label for="{{ estacionamiento_form.tarifahora.id_for_label }}">Tarifa por Hora:</label>
          {{ estacionamiento_form.tarifahora }}
          {{ estacionamiento_form.tarifahora.errors }}
        </div>
      </div>
      <div class="row form-group mb-2">
        <div class="col-md-6">
          <label for="{{ estacionamiento_form.observaciones.id_for_label }}">Observación:</label>
          {{ estacionamiento_form.observaciones }}
          {{ estacionamiento_form.observaciones.errors }}
        </div>
        <div class="col-md-6">
          <label for="{{ estacionamiento_form.imagen.id_for_label }}" class="form-label">Imagen:</label>
          <input type="file" class="form-control" id="{{ estacionamiento_form.imagen.id_for_label }}"
            name="{{ estacionamiento_form.imagen.name }}">
          <div class="invalid-feedback">{{ estacionamiento_form.imagen.errors }}</div>
        </div>
      </div>
      <div class="row form-group mb-2">
        <div class="col-md-4">
          <label for="{{ puntointeres_form.longitud.id_for_label }}">Longitud:</label>
          {{ puntointeres_form.longitud }}
          {{ puntointeres_form.longitud.errors }}
        </div>
        <div class="col-md-4">
          <label for="{{ puntointeres_form.latitud.id_for_label }}">Latitud:</label>
          {{ puntointeres_form.latitud }}
          {{ puntointeres_form.latitud.errors }}
        </div>        
        <div class="col-md-4">
          <label for="{{ puntointeres_form.nombre.id_for_label }}">Nombre:</label>
          {{ puntointeres_form.nombre }}
          {{ puntointeres_form.nombre.errors }}

        </div>
      </div>
      <div class="form-group mb-2">
        <p class="h5 text-center"> Rellenar mapa</p>
      </div>
      <div id="mapa" style="width: 100%; height: 500px" class="mb-3"></div>
      <button type="submit" class="btn btn-primary" id="enviarFormulario">Enviar</button>
    </form>
  </div>
</div>
<script>
  function enviarFormulario() {

    document.getElementById("miFormulario").submit();
  }

  let map;
  let mapDiv;
  let marcador;

  function iniciarMapa() {
    mapDiv = document.getElementById("mapa");
    
    var latitud = -33.448716;
    var longitud = -70.669279;

    const coordenadas = {
      lat: latitud,
      lng: longitud,
    };

    generarMapa(coordenadas);
  }

  function generarMapa(coordenadas) {
    var map = new google.maps.Map(mapDiv, {
      zoom: 12,
      center: coordenadas,
    });

    marcador = new google.maps.Marker({
      map: map,
      draggable: true,
      position: new google.maps.LatLng(coordenadas.lat, coordenadas.lng),
    });

    marcador.addListener('dragend', function (event) {
      document.getElementById("id_latitud").value = this.getPosition().lat();
      document.getElementById("id_longitud").value = this.getPosition().lng();
    })
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYqY4KKNA-mDE-uc09rKn2k2prxKzWx0&libraries=places&callback=iniciarMapa"
  defer></script>
{% endblock %}