{% extends 'baseDueno.html' %}

{% load static %}

{% load humanize %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/editEstacionamiento.css' %}">
{% endblock%}

{% block title %}
Editar Estacionamiento
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
      <div class="row">
        <a href="{% url 'indexDueno' %}" class="btn btn-secondary col-md-2 mt-3 mb-0">Regresar</a>
        <h3 class="text-center">Editar estacionamiento</h3>
        <div class="mt-1 mb-2 border p-4">
            <form method="post" id="miFormulario" onsubmit="enviarFormulario()" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}}
            <!-- {{ punto_interes_form | crispy}} --> 
            <div class="row form-group mb-2">
              <div class="col-md-4">
                <label for="{{ punto_interes_form.latitud.id_for_label }}">Latitud:</label>
                {{ punto_interes_form.latitud }}
                {{ punto_interes_form.latitud.errors }}
              </div>
              <div class="col-md-4">
                <label for="{{ punto_interes_form.longitud.id_for_label }}">Longitud:</label>
                {{ punto_interes_form.longitud }}
                {{ puntointerepunto_interes_forms_form.longitud.errors }}
              </div>        
              <div class="col-md-4">
                <label for="{{ punto_interes_form.nombre.id_for_label }}">Nombre:</label>
                {{ punto_interes_form.nombre }}
                {{ punto_interes_form.nombre.errors }}
      
              </div>
            </div>
            <div class="form-group mb-2">
              <p class="h5 text-center"> Rellenar mapa</p>
            </div>
            <div id="mapa" style="width: 100%; height: 400px" class="mb-2"></div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-secondary" id="enviarFormulario">Enviar</button>
            </div>
            </form>
        </div>
      </div>
    </div>
    {{mensaje_correcto}}
    {{mensaje_incorrecto}}

    <script>
        function enviarFormulario() {
      
          document.getElementById("miFormulario").submit();
        }
      
        let map;
        let mapDiv;
        let marcador;
        
        function iniciarMapa() {
            mapDiv = document.getElementById("mapa");
            var latitud = parseFloat(document.getElementById("id_latitud").value);
            var longitud = parseFloat(document.getElementById("id_longitud").value);

      
          const coordenadas = {
            lat: latitud,
            lng: longitud,
          };
      
          generarMapa(coordenadas);
        }
      
        function generarMapa(coordenadas) {
          var map = new google.maps.Map(mapDiv, {
            zoom: 12,
            center: coordenadas,
          });
      
          marcador = new google.maps.Marker({
            map: map,
            draggable: true,
            position: new google.maps.LatLng(coordenadas.lat, coordenadas.lng),
          });
      
          marcador.addListener('dragend', function (event) {
            document.getElementById("id_latitud").value = this.getPosition().lat();
            document.getElementById("id_longitud").value = this.getPosition().lng();
          })
        }
      </script>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYqY4KKNA-mDE-uc09rKn2k2prxKzWx0&libraries=places&callback=iniciarMapa"
        defer></script>
{% endblock %}