{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/baseCliente.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  {% block css%}
  {% endblock%}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Header + Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-content rounded">
      <div class="container-fluid">
        <a class="navbar-brand rounded" href="{% url 'indexCliente' %}">Mi estacionamiento</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'indexCliente' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar' %}">Reserva</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opciones
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'listarVehiculo' %}">Vehículos</a></li>
                <li><a class="dropdown-item" href="{% url 'listarTarjetacreditoCliente' %}">Tarjetas</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Algo Adicional Aquí</a></li>
              </ul>
            </li>
          </ul>
          <span class="navbar-text">
            <!--boton login -->
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                {% if user.es_dueno %}
                      <!-- Código para dueño -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              @{{ user.username }}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="{% url 'cambiar_a_dueno' %}">Cambiar a Dueno</a></li>                                 
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{% url 'logoutDueno' %}">Cerrar sesión</a></li>
                          </ul>
                      </li>
                  {% elif user.es_cliente %}
                      <!-- Código para cliente -->
                      <li class="nav-item">
                          <a href="{% url 'logoutCliente' %}" class="nav-link active btn btn-danger">Cerrar sesión</a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="btn btn-primary btn-sm fw-bold nav-link active">@{{ user.username }}</a>
                      </li>
                  {% elif user.es_cliente %}    
                      <!-- Código para administrador -->
                      <li class="nav-item">
                        <a href="{% url 'logoutCliente' %}" class="nav-link active btn btn-danger">Cerrar sesión</a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="btn btn-primary btn-sm fw-bold nav-link active">@{{ user.username }}</a>
                      </li>
                  {% else %} 
                      <!-- Código para otros usuarios (sin grupo) -->
                      <li class="nav-item">
                          <a href="#" class="nav-link">Opciones para usuarios sin grupo</a>
                      </li>
                  {% endif %}
              {% else %}
                  <!-- Código para usuarios no autenticados -->
                  <li class="nav-item">
                      <a href="{% url 'loginCliente' %}" class="nav-link active btn btn-success">Iniciar sesión</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'registerCliente' %}" class="nav-link active btn btn-warning">Registrarse</a>
                  </li>
              {% endif %}
          </ul>
          </span>
        </div>
      </div>
    </nav>
  </header>

  <!-- Content -->
  {% block content %}

  {% endblock %}
  <!-- Footer -->
  <footer>
    <p>&copy; {{ 2023 }} Mi Estacionamiento - Todos Los Derechos Reservados.</p>
  </footer>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Mensaje -->
  {% if messages %}
    {% for m in messages %}
      <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
      </script>
    {% endfor %}
  {% endif %}
  {% block js%}
  {% endblock%}
</body>
</html>