{% extends 'baseCliente.html' %}

{% load static %}

{% load humanize %}

{% block css%}

<link rel="stylesheet" href="{% static 'css/Estacionamientos.css' %}">
{% endblock%}

{% block title %}
Mi Estacionamiento | Reserva
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="dashboard">
        <div class="parking-manager">
            <div class="new-car-btn">Seleccionar Estacionamientos</div>
            <div class="new-car-entry d-flex">
                {% for estacasilla in casilla %}
                    {% if estacasilla.id_estacionamiento.id == estacionamiento.id %}
                        <div onclick="carenter({{ estacasilla.id_casilla.posicion }})" id="slot{{ estacasilla.id_casilla.posicion }}"
                            class="btn {% if estacasilla.disponible %}btn-success {% else %}btn-danger disabled{% endif %} casilla-btn"
                            data-casilla-id="{{ estacasilla.id }}">
                            {{ estacasilla.id_casilla.id }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class="new-car-btn">Tarifa: </div>
            <br>
            <div class="new-car-btn">Cliente: 10</div>
            <form method="post" enctype="multipart/form-data" class="text-black m-5 mt-4 ">
                {% csrf_token %}
                {{arriendo_form | crispy}}

                <div class="mb-3">
                    <button class="btn btn-outline-light btn-lg btn-dark" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $('.casilla-btn').click(function () {
        var casillaId = $(this).data('casilla-id');
        console.log('Casilla ID:', casillaId);
        var casillaId = $(this).data('casilla-id');
        var botonCasilla = $(this);  // Almacena una referencia al botón
        console.log(casillaId);
        // Actualiza el valor del campo oculto en el formulario
        $('#casilla_seleccionada').val(casillaId);

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '/cliente/indexCliente/estacionamientos/cambiar_casilla/' + casillaId,
            headers: {'X-CSRFToken': csrftoken},
            success: function (data) {
                // Utiliza la referencia almacenada al botón
                if (data.estado) {
                    botonCasilla.text('Deshabilitado');
                } else {
                    botonCasilla.text('Habilitado');
                }
            },
            error: function (error) {
                console.log('Error al cambiar el estado del estacionamiento:', error);
            }
        });
    });
    });
</script>
    <script src="{% static 'js/estacionamientos.js' %}"></script>

{% endblock %}