{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet" />

    <!-- Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-cJ0fTZd0lS2e6Uly6E77T1DtuM1tzAg73O8h2tqN8LWv0eGGGVphTxF1E3zIdhFg"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/Estacionamientos.css' %}">

    <script src="{% static 'js/estacionamientos.js' %}"></script>
</head>

<body onload="setupparkingmanager()" >
    <div class="navbar">
        <div class="brand">MI ESTACIONAMIENTO</div>
    </div>
    <div class="dashboard">
        <div class="parking-manager">
            <div class="new-car-btn">Seleccionar Estacionamientos</div>
            <div class="new-car-entry d-flex">
                {% for casilla in casilla %}
                <div onclick="carenter({{ casilla.id }})" id="slot{{ casilla.posicion }}"
                    class="btn {% if casilla.disponible %}btn-success {% else %}btn-danger disabled{% endif %}"
                    data-casilla-id="{{ casilla.id }}">
                    {{ casilla.posicion }}
                </div>
                {% endfor %}
            </div>
            
            {% for n in estacionamiento %}
            <div class="new-car-btn">Tarifa: ${{n.tarifahora}}</div>
            {% endfor %}
            <br>
            <div class="new-car-btn">Cliente: 10</div>
            <form method="post" enctype="multipart/form-data" class="text-white m-5 mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="casilla_seleccionada" id="casilla_seleccionada" value="">
                <button class="btn-cambiar-estado" type="submit">Guardar</button>
            </form>
        </div>
        <div class="parking-container" id="parkingspace">
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-1">1</div>
                <div class="parking-slot" id="slot-2">2</div>
                <div class="parking-slot" id="slot-3">3</div>
                <div class="parking-slot" id="slot-4">4</div>
                <div class="parking-slot" id="slot-5">5</div>
            </div>
            <div class="parking-way" id="entry-way"></div>
            <div class="parking-way"></div>
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-6">6</div>
                <div class="parking-slot" id="slot-7">7</div>
                <div class="parking-slot" id="slot-8">8</div>
                <div class="parking-slot" id="slot-9">9</div>
                <div class="parking-slot" id="slot-10">10</div>
            </div>
        </div>
        <div class="outside">Entry / Exit</div>
    </div>
    <script>
        function inicializarVehiculos() {
            var casillasNoDisponibles = [];

            {% for casilla in casilla %}
                {% if not casilla.disponible %}
                    // Agrega la casilla a un array de casillas no disponibles
                    casillasNoDisponibles.push({{ casilla.id }});
                {% endif %}
            {% endfor %}
    
            // Función para inicializar vehículos en casillas no disponibles
            function inicializarCasillasNoDisponibles(index) {
                if (index < casillasNoDisponibles.length) {
                    carenter(casillasNoDisponibles[index]);
                    setTimeout(function () {
                        inicializarCasillasNoDisponibles(index + 1);
                    }, 2000); // Puedes ajustar el tiempo de espera entre inicializaciones si es necesario
                }
            }
    
            // Inicia la inicialización de casillas no disponibles
            inicializarCasillasNoDisponibles(0);
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.btn-cambiar-estado').click(function (e) {
                e.preventDefault();

                var casillaId = $(this).data('#casilla_seleccionada');

                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    type: 'POST',
                    url: 'cambiar_casilla/' + casillaId + '/',
                    headers: {'X-CSRFToken': csrftoken},
                    success: function (data) {
                        // Actualiza el texto del botón según el nuevo estado
                        if (data.estado) {
                            alert('Estacionamiento habilitado.');
                            $(this).text('Deshabilitado');
                        } else {
                            alert('Estacionamiento deshabilitado.');
                            $(this).text('Habilitado');
                        }
                        location.reload();
                    },
                    error: function (error) {
                        console.log('Error al cambiar el estado del estacionamiento:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>