{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet" />
    
    <link rel="stylesheet" href="{% static 'css/Estacionamientos.css' %}">
    <!-- Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-cJ0fTZd0lS2e6Uly6E77T1DtuM1tzAg73O8h2tqN8LWv0eGGGVphTxF1E3zIdhFg" crossorigin="anonymous"></script>

    <script src="{% static 'js/estacionamientos.js' %}"></script>
</head>

<body onload="setupparkingmanager()">
    <div class="navbar">
        <div class="brand">MI ESTACIONAMIENTO</div>
    </div>
    <div class="dashboard">
        <div class="parking-manager">
            <div class="new-car-btn">Seleccionar Estacionamientos</div>
            <div class="new-car-entry d-flex">
                <div onclick="carenter(0)" id="slot1" class="casilla" data-casilla-id="1">1</div>
                <div onclick="carenter(1)" id="slot2" class="casilla" data-casilla-id="2">2</div>
                <div onclick="carenter(2)" id="slot3" class="casilla" data-casilla-id="3">3</div>
                <div onclick="carenter(3)" id="slot4" class="casilla" data-casilla-id="4">4</div>
                <div onclick="carenter(4)" id="slot5" class="casilla" data-casilla-id="5">5</div>
                <div onclick="carenter(5)" id="slot6" class="casilla" data-casilla-id="6">6</div>
                <div onclick="carenter(6)" id="slot7" class="casilla" data-casilla-id="7">7</div>
                <div onclick="carenter(7)" id="slot8" class="casilla" data-casilla-id="8">8</div>
                <div onclick="carenter(8)" id="slot9" class="casilla" data-casilla-id="9">9</div>
                <div onclick="carenter(9)" id="slot10" class="casilla" data-casilla-id="10">10</div>
            </div>
            {% for n in estacionamiento %}
            <div class="new-car-btn">Tarifa: ${{n.tarifahora}}</div>
            {% endfor %}
            <br>
            <div class="new-car-btn">Cliente: 10</div>
            <form method="post" enctype="multipart/form-data" class="text-white m-5 mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="casilla_seleccionada" id="casilla_seleccionada" value="">
                <button type="submit">Guardar</button>
            </form>
        </div>
        <div class="parking-container" id="parkingspace">
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-1">1</div>
                <div class="parking-slot" id="slot-2">2</div>
                <div class="parking-slot" id="slot-3">3</div>
                <div class="parking-slot" id="slot-4">4</div>
                <div class="parking-slot" id="slot-5">5</div>
            </div>
            <div class="parking-way" id="entry-way"></div>
            <div class="parking-way"></div>
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-6">6</div>
                <div class="parking-slot" id="slot-7">7</div>
                <div class="parking-slot" id="slot-8">8</div>
                <div class="parking-slot" id="slot-9">9</div>
                <div class="parking-slot" id="slot-10">10</div>
            </div>
        </div>
        <div class="outside">Entry / Exit</div>
    </div>
</body>
</html>