{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/indexCliente.css' %}">
    <title>Mi Estacionamiento | Estacionamientos</title>
</head>

<body>
    <main>
        <section class="content">
            <header>
                <div class="search-bar">
                    <input type="text" id="searchInput" placeholder="Buscar...">
                    <button onclick="searchFunction()">Buscar</button>
                </div>
                <h1>Mi Estacionamiento</h1>
                <button class="login-btn">Cerrar Sesión</button>
            </header>
            <br> <br>
            <!-- Aquí va el mapa -->
            <div class="map">
                <p>aquí va el MAPA</p>
            </div>
            <div class="cartas">
                <!-- Cartas -->
                <div class="card">
                    <img src="{% static 'img/cars1.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 1</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars2.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 2</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars3.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 3</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="nodisponible-btn">No Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars1.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 4</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars2.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 5</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars3.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 6</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="nodisponible-btn">No Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>
                <div class="card">
                    <img src="{% static 'img/cars1.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 7</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars2.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 8</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="disponible-btn">Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars3.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 9</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="nodisponible-btn">No Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>

                <div class="card">
                    <img src="{% static 'img/cars3.jpg' %}" alt="Estacionamiento 1">
                    <h2>Estacionamiento 10</h2>
                    <p>Información sobre el estacionamiento.</p>
                    <button class="nodisponible-btn">No Disponible</button>
                    <button class="reservar-btn">Reservar</button>
                </div>
            </div>
        </section>
    </main>

    <footer class="Piedepagina">
        <div class="grupo1">
            <div class="box">
                <h2>MI ESTACIONAMIENTO</h2>
                <p>NUESTRO OBJETIVO ES OFRECER SERVICIOS DE ESTACIONAMIENTOS MEDIANTE SU UBICACIÓN</p>
            </div>
            <div class="box">
                <h2>SÍGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.instagram.com/" class="bi bi-instagram" target="_blank">
                        <img src="{% static 'img/rrss/instagram.png' %}" width="45" height="45" alt="">
                    </a>
                    <a href="https://es-la.facebook.com/" class="bi bi-facebook" target="_blank">
                        <img src="{% static 'img/rrss/facebook.png' %}" width="45" height="45" alt="">
                    </a>
                    <a href="https://twitter.com/?lang=es" class="bi bi-twitter" target="_blank">
                        <img src="{% static 'img/rrss/twitter.png' %}" width="45" height="45" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2023 <b>MI ESTACIONAMIENTO</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>

</html>