{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion Cliente</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .form {
            width: 450px;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="abs-center">
            <form action="{% url 'loginCliente' %}" class="border p-3 form" method="POST">
                {% csrf_token %}
                <!-- Campos formularios -->
                <label for="campoNombre" class="form-label">Nombre de usuario o Correo Electronico:</label>
                <input type="text" id="campoNombre" name="campoNombre" class="form-control"
                    aria-describedby="passwordHelpBlock" required>
                <div id="passwordHelpBlock" class="form-text">
                    Su nombre de usuario debe tener un largo minimo de 5 caracteres. En caso del correo electronico, debe usar '@'.
                </div>
                <label for="campoContrasena" class="form-label">Contraseña:</label>
                <input type="password" id="campoContrasena" name="campoContrasena" class="form-control"
                    aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Su contraseña debe ser mayor a 5 caracteres y menor a 30.
                </div>
                <!-- Boton de acceso -->
                <div class="btn-container">
                    <button type="submit" class="btn btn-success">Ingresar</button>
                    <button type="button" class="btn btn-warning">Olvidé mi Contraseña</button>
                </div>
                <!-- Mensajes de Alerta (exitoso y fallido) -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>