{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registroCliente.css' %}">
    <title>Registro Cliente</title>
</head>

<body>
    <div class="container">
        <h1>Registro Cliente</h1>
        <form id="registrationForm" action="#" method="post">
            <div class="row">
                <div class="col">
                    <label for="run">RUN:</label>
                    <input type="text" id="run" name="run" required>
                </div>
                <div class="col">
                    <label for="dv_run">DV RUN:</label>
                    <input type="text" id="dv_run" name="dv_run" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="pnombre">Primer Nombre:</label>
                    <input type="text" id="pnombre" name="pnombre" required>
                </div>
                <div class="col">
                    <label for="snombre">Segundo Nombre:</label>
                    <input type="text" id="snombre" name="snombre">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="appaterno">Apellido Paterno:</label>
                    <input type="text" id="appaterno" name="appaterno" required>
                </div>
                <div class="col">
                    <label for="apmaterno">Apellido Materno:</label>
                    <input type="text" id="apmaterno" name="apmaterno">
                </div>
            </div>
            <label for="telefono">Teléfono:</label>
            <input type="number" id="telefono" name="telefono" required>

            <label for="direccion">Dirección: </label>
            <input type="text" id="direccion" name="direccion" required>

            <label for="correoElectronico">Correo Electrónico:</label>
            <input type="email" id="correoElectronico" name="correoElectronico" required>

            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button type="submit">Registrarse</button>
        </form>
    </div>
    <script src="{% static 'js/registroCliente.js' %}"></script>
</body>
</html>