/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    background-size: cover;
  }
  
  #map {
    height: 400px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid ;
    border-radius: 0px 0px 20px 20px;
  
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  /*ESTILOS TEXTO*/
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(251, 251, 251);
    text-align: center;
  }
  
  /*ESTILOS TEXTO*/
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0095ff;
  }
  
  /*ESTILOS TEXTO*/
  p {
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(248, 248, 248);
  }


  .header {
    border: 1px solid #ffffff;
    border-radius: 10px;
    /* Estilos del buscador */
    box-shadow: 0 0 10px rgba(0, 255, 140, 0.5);
  }
  
  .sidebar {
    border: 1px solid #ffffff;
    border-radius: 10px;
    /* Estilos del buscador */
    box-shadow: 0 0 10px rgba(0, 255, 140, 0.5);
  }
  
  
  .map {
    height: 300px;
    background-color: #222;
    margin-bottom: 20px;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  /************************ CARTAS *****************************************/

  
#product-container {
  border-radius: 15px; /* Ajusta el valor según sea necesario para la redondez deseada */
  overflow: hidden; /* Esto asegura que la imagen no sobresalga del borde redondeado */
  color: white;
}

.card-img-top {
  border-top-left-radius: 15px; /* Redondea solo las esquinas superiores izquierdas de la imagen */
  border-top-right-radius: 15px; /* Redondea solo las esquinas superiores derechas de la imagen */
  width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura de la imagen según sea necesario */
}


  .cartas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  .card {
    background-color: #444;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  
  }
  
  /* IMÁGEN DE LA CARTA*/
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  /************************ BOTÓN DISPONIBLE *****************************************/
  .disponible-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #00ff6a;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: not-allowed;
    /* Cambia el cursor a no disponible */
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  

/************************ BOTÓN RESERVAR *****************************************/

  
  .reservar-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffcc00;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  .reservar-btn:hover {
    background-color: #ff3333;
  }
  
  .reservar-btn {
    background-color: rgb(0, 0, 0);
    /* COLOR DE FONDO DEL BOTÓN */
    color: #f9f9f9;
    text-transform: uppercase;
    border: 2px solid #fdfdfd;
    transition: all 0.3s ease;
  }
  
  .reservar-btn:hover {
    background-color: #ffd633;
    border-color: #ffd633;
    color: #000;
  }
  
  /************************ BOTÓN NO DISPONIBLE *****************************************/
  .nodisponible-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff0000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: not-allowed;
    /* Cambia el cursor a no disponible */
    border-radius: 10px;
    /* Borde circular */
    overflow: hidden;
    /* Asegura que el contenido respete el borde circular */
  }
  
  .nodisponible-btn:hover {
    background-color: #cc0000;
    /* Cambia el color de fondo al pasar el cursor */
  }
  
  /*****************************************************************/
  
  
  /*********************** Estilos para el botón de cerrar sesión ********************************/
  .login-btn {
    background-color: #f44336;
    /* Rojo */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .login-btn:hover {
    background-color: #d32f2f;
    /* Rojo más oscuro al pasar el cursor */
  }
  
  /* Estilos para el buscador */
  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Espaciado a la derecha */
  }
  
  /************************ BUSCADOR *****************************************/
  #searchInput {
    width: 100%;
    /* Ocupar todo el ancho disponible */
    max-width: 200px;
    /* Límite máximo para evitar estirar demasiado en pantallas grandes */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    /* Espaciado entre el input y el botón */
  }
  
  #searchInput:focus {
    outline: none;
    /* Quita el contorno al enfocar */
  }
  
  /* Estilos para el botón de búsqueda */
  .search-bar button {
    min-width: 80px;
    /* Ancho mínimo del botón */
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b8886;
    font-size: 14px;
    flex-shrink: 0;
    /* Evitar que el botón se encoja demasiado */
  }
  
  .search-bar button:hover {
    background-color: #45a049;
    /* Verde más oscuro al pasar el cursor */
  }
  
  /*************************************** FOOTER *****************************************/
  
  footer {
    background-color: #000000;
    padding: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  
  .footer-content {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  
  /* contenedor de las imágenes de RRSS */
  .Piedepagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .Piedepagina .grupo1 .red-social a:hover {
    color: aqua;
  
  }
  
  .Piedepagina .grupo2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
    /*COLOR LETRAS FOOTER*/
  }
  
  .Piedepagina .grupo2 small {
    font-size: 15px;
  }
  
  /********************************************************************************/
  
  
  
  /* Sirve para mostrar 3 cartas por fila */
  @media (min-width: 768px) {
    .cartas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  
/* Ajuste de la disposición de las cartas para pantallas pequeñas */
@media (max-width: 767px) {
    .login-btn {
      padding: 8px 12px; /* Reducir el padding del botón */
      font-size: 12px; /* Disminuir el tamaño de la fuente */
      margin-right: 10px; /* Ajuste del margen */
    }
  
    .search-bar {
      margin-right: 10px; /* Reducir el espacio a la derecha */
    }
  
    #searchInput {
      max-width: calc(100% - 100px); /* Incrementar el ancho del input */
      margin-right: 5px; /* Reducir el espacio entre input y botón */
    }
  
    .search-bar button {
      min-width: 60px; /* Reducir el ancho del botón */
      padding: 8px 12px; /* Reducir el padding del botón */
      font-size: 12px; /* Disminuir el tamaño de la fuente */
    }
  
    .cartas {
      grid-template-columns: repeat(2, 1fr); /* Dos cartas por fila */
      gap: 15px; /* Reducir el espacio entre cartas */
    }
  }