.empty-reservations {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
}

.empty-reservations h2 {
    margin-bottom: 10px;
}

.empty-reservations .btn {
    margin-top: 15px;
}