body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Establece el alto mínimo del cuerpo al 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto; /* Empuja el pie de página hacia la parte inferior */
    background-color: #f1f1f1; /* Cambia esto según el color que desees */
    padding: 10px;
    text-align: center;
}

.content {
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.row-cols-1,
.row-cols-md-4,
.row-col-sm-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

