/* Estilos generales */
:root {
    --color-primary: #ffcc00; /* Color principal */
    --color-secondary: #0099cc; /* Color secundario */
    --color-text: #ffffff; /* Color del texto */
    --color-bg: #111111; /* Color de fondo */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el botón "Volver" */
.btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #007399; /* Cambio de color al pasar el cursor */
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
    color: var(--color-primary);
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    margin-bottom: 15px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff9900; /* Cambio de color al pasar el cursor */
}
