body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.buscador input {
    padding: 8px;
}

.usuario button {
    background-color: #ff7b7b;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

h2 {
    color: #333;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carta {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.carta img {
    width: 100%;
    height: 200px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
    border-radius: 8px;
    margin-bottom: 10px;
}

.carta p {
    font-size: 1em;
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}
