/* Agrega estos estilos a tu archivo CSS */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, #2e86de, #e74c3c);
    color: #fff;
}

header {
    background: #34495e;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.search-bar input {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.welcome p {
    margin: 0;
}

.logout-btn button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

h2 {
    color: #fefefe;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carta {
    background-color: #2c3e50;
    border: 1px solid #34495e;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.carta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carta p {
    font-size: 1em;
    color: #fff;
    max-width: 100%;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}
