.card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    /* Establece una altura fija */
    object-fit: cover;
    /* Hace que la imagen cubra la caja manteniendo su relación de aspecto */
    width: 100%;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.btn-cambiar-estado {
    margin-right: 10px;
}

.btn-info,
.btn-danger {
    margin: 5px;
}

/* Añade esto a tu CSS */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup-content {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.cerrar-popup {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.cerrar-popup:hover {
    color: #06D85F;
}