{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} {% endblock %} </title>
    {% block css%} {% endblock%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body class="w-100">
    <!-- Header + NavBar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-content ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'indexDueno' %}">Mi estacionamiento</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'indexDueno' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addEstacionamiento' user.id %}">Crear estacionamiento</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                    <!--boton login -->
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                {% if user.groups.all.0.name == 'Dueno' %}
                                    <li class="nav-item">
                                        <a href="{% url 'logoutDueno' %}" class="nav-link active">Cerrar sesión</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="btn btn-primary btn-sm fw-bold nav-link active">@{{ user.username }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'loginDueno' %}" class="nav-link active">Iniciar sesión</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'registerDueno' %}" class="nav-link active">Registrarse</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <!-- Content -->
    {% block content %}
    
    {% endblock %}

    <!-- Footer -->
    <footer class="footer bg-dark mt-5 text-center py-1">
        <div class="container">
            <h5 class="text-white">MiEstacionamiento@gmail.com</h5>
        </div>
    </footer>

    <!-- Scripts -->

    <!-- Fucniones propias -->
    <script src="{% static 'js/indexDueno.js' %}"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- JS validaciones-->
    <script src="{% static 'js/validacionAddEstacionamiento.js' %}"></script>
</body>

</html>