{% extends 'baseDueno.html' %}

{% load static %}

{% load humanize %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/editEstacionamiento.css' %}">
{% endblock%}

{% block title %}
Formulario
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <a href="{% url 'index' %}" class="btn btn-secondary">Volver</a>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_direccion" class="form-label">Dirección:</label>
                {{ formulario.direccion }}
            </div>
            <div class="mb-3">
                <label for="id_tarifa" class="form-label">Tarifa:</label>
                {{ formulario.tarifahora }}
            </div>
            <div class="mb-3">
                <label for="id_observaciones" class="form-label">Observaciones:</label>
                {{ formulario.observaciones }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
{% endblock %}