{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/Estacionamientos.css' %}">
    <script src="{% static 'js/estacionamientos.js' %}"></script>
</head>
<body onload="setupparkingmanager()">
    <div class="navbar">
        <div class="brand">MI ESTACIONAMIENTO</div>
    </div>
    <div class="dashboard">
        <div class="parking-manager">
            <div class="new-car-btn">Estacionamientos</div>
            <div class="new-car-entry">
                <div onclick="carenter(0)" id="slot1">1</div>
                <div onclick="carenter(1)" id="slot2">2</div>
                <div onclick="carenter(2)" id="slot3">3</div>
                <div onclick="carenter(3)" id="slot4">4</div>
                <div onclick="carenter(4)" id="slot5">5</div>
                <div onclick="carenter(5)" id="slot6">6</div>
                <div onclick="carenter(6)" id="slot7">7</div>
                <div onclick="carenter(7)" id="slot8">8</div>
                <div onclick="carenter(8)" id="slot9">9</div>
                <div onclick="carenter(9)" id="slot10">10</div>
            </div>
            <div class="new-car-btn">Manage Queue</div>
            <div class="queue">
                <img id="queue1" src="carfaded.png"></img>
                <img id="queue2" src="carfaded.png"></img>
                <img id="queue3" src="carfaded.png"></img>
                <img id="queue4" src="carfaded.png"></img>
                <img id="queue5" src="carfaded.png"></img>
            </div>
            <div class="addtoqueue" onclick="addtoqueue()">Add to Queue</div>
        </div>
        <div class="parking-container" id="parkingspace">
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-1">1</div>
                <div class="parking-slot" id="slot-2">2</div>
                <div class="parking-slot" id="slot-3">3</div>
                <div class="parking-slot" id="slot-4">4</div>
                <div class="parking-slot" id="slot-5">5</div>
            </div>
            <div class="parking-way" id="entry-way"></div>
            <div class="parking-way"></div>
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-6">6</div>
                <div class="parking-slot" id="slot-7">7</div>
                <div class="parking-slot" id="slot-8">8</div>
                <div class="parking-slot" id="slot-9">9</div>
                <div class="parking-slot" id="slot-10">10</div>
            </div>
        </div>
        <div class="outside">Entry / Exit</div>
    </div>
</body>
</html>